body {
  margin: 0;

  font-family: "Montserrat", sans-serif;
}

p {
  margin: 0;
}

.piece {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */

  cursor: pointer;
}

.chess-wrapper {
  display: flex;
}

.eval-bar {
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 0.8rem;

  width: 30px;
}

.eval-negative {
  transition: 0.4s;
  background-color: #444;
  color: #ddd;
  align-items: flex-start;
  position: absolute;
}

.eval-positive {
  background-color: #ddd;
  color: #444;
  align-items: flex-end;
}

.eval-bar > * {
  padding: 0.5rem;
}
